@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

  background: linear-gradient(120deg, #ff3366, transparent 70.71%),
    linear-gradient(240deg, #20a4f3, transparent 70.71%),
    linear-gradient(360deg, #8fd0ca, transparent 70.71%);
}

main {
  width: 100%;

  position: absolute;

  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  justify-content: center;
  align-items: center;
  text-align: center;
}

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: white;
}

.album_art {
  height: 20vw;
  width: 20vw;
}

.title {
  font-size: 7vw;
  letter-spacing: 1vw;
  margin: 0vw;
}

.subtitle {
  font-size: 3vw;
  letter-spacing: 0.5vw;
  margin: 0vw;
}

.description {
  font-size: 2vw;
  letter-spacing: 0.1vw;
  margin: 1vw;
}

.explanation {
  font-size: 1.75vw;
  letter-spacing: 0.1vw;
  margin: 1.2vw;
}

.blue {
  font-size: 1.5vw;
  letter-spacing: 0.2vw;
  color: blue;
}

footer {
  display: flex;
  position: absolute;
  bottom: 0vw;
  width: 100%;
}

.footer-text {
  text-align: start;
  font-size: 1vw;
  letter-spacing: 0.1vw;
  margin: 1.75vw;
}

.octocat {
  height: 4vw;
  width: 4vw;

  position: fixed;
  bottom: 0;
  right: 0;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.octocat:hover {
  scale: 1.2;
}
