<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="styles.css" />
    <!-- <script src="script.js"> </script> -->

    <title>Geeth Le</title>
  </head>

  <body>
    <main>
      <p class="title work-sans">GeethLe</p>

      <div class="container">
        <input placeholder="" type="text" id="search_input" />

        <label for="search_input" class="placeholder">
          <span class="hint blue">https://geethle.onrender.com/</span>
          <spanc class="hint">enter+your+query</spanc>
        </label>

        <img src="search_icon.png" class="search_icon" />
      </div>

      <p class="subtitle work-sans">Search for songs from anywhere!</p>
      <p class="description work-sans">
        Get a shareable link + a custom thumbnail with album art & metadata.
      </p>
    </main>

    <footer>
      <p class="footer-text work-sans">© 2024 Vishnu Sanal T</p>
      <a href="https://GitHub.com/VishnuSanal/GeethLe" target="_blank">
        <img src="github-mark-white.png" class="octocat" />
      </a>
    </footer>
  </body>
</html>
