<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>GeethLe</title>
    <meta name="description" content="Search for songs from anywhere!" />

    <meta property="og:url" content="https://geethle.me" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="GeethLe" />
    <meta property="og:description" content="Search for songs from anywhere!" />

    <meta name="twitter:card" content="summary" />
    <meta property="twitter:domain" content="geethle.me" />
    <meta property="twitter:url" content="https://geethle.me/" />

    <meta name="twitter:title" content="GeethLe" />
    <meta
      name="twitter:description"
      content="Search for songs from anywhere!"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />

    <title>Geeth Le</title>
  </head>

  <body>
    <main>
      <p class="title work-sans">GeethLe</p>

      <p class="subtitle work-sans">Search for songs from anywhere!</p>
      <p class="description work-sans">
        Get a shareable link + a custom thumbnail with album art & metadata.
      </p>

      <p class="explanation work-sans">
        Get started by typing <span class="blue">geethle.me/your+fav+song</span>
      </p>
    </main>

    <footer>
      <p class="footer-text work-sans">© 2024 Vishnu Sanal T</p>
      <a href="https://GitHub.com/VishnuSanal/GeethLe" target="_blank">
        <img
          src="{{ url_for('static', filename='github-mark-white.png') }}"
          class="octocat"
          alt="octocat_github"
        />
      </a>
    </footer>
  </body>
</html>
