@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

  background: linear-gradient(120deg, #ff3366, transparent 70.71%),
    linear-gradient(240deg, #20a4f3, transparent 70.71%),
    linear-gradient(360deg, #8fd0ca, transparent 70.71%);

  /* background-image: conic-gradient(at 50% -10%, #FF6978 35%, #B1EDE8 50%, #FF6978 65%); */
  /* background-image: conic-gradient(at 50% -10%, #2EC4B6 25%, #FF3366 50%, #20A4F3 75%); */
  /* background-image: conic-gradient(at 50% -10%, #2EC4B6 25%, #FF3366 50%, #20A4F3 75%); */

  /* background:
        linear-gradient(-45deg, #8E7AB5, transparent 70.71%),
        linear-gradient(180deg, #B784B7, transparent 70.71%),
        linear-gradient(270deg, #E493B3, transparent 70.71%),
        linear-gradient(360deg, #EEA5A6, transparent 70.71%); */

  /* background:
        linear-gradient(-45deg, #6867AC, transparent 70.71%),
        linear-gradient(180deg, #A267AC, transparent 70.71%),
        linear-gradient(270deg, #CE7BB0, transparent 70.71%),
        linear-gradient(360deg, #FFBCD1, transparent 70.71%); */
}

main {
  width: 100%;

  position: absolute;

  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  justify-content: center;
  align-items: center;
  text-align: center;
}

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: white;
}

.title {
  font-size: 7vw;
  letter-spacing: 0.8vw;
  margin: 1vw;
}

.subtitle {
  font-size: 3vw;
  letter-spacing: 0.3vw;
  margin: 1.75vw;
}

.description {
  font-size: 2vw;
  letter-spacing: 0.1vw;
  margin: 0.75vw;
}

input {
  padding: 1vw;
  font-size: 1.2vw;
  border: 0.02vw solid white;
  border-radius: 2vw;
  background-color: white;
  width: 40%;
  caret-color: gray;
  color: gray;

  position: relative;
}

input:focus {
  outline: none;
}

input:not(:placeholder-shown) + .placeholder {
  opacity: 0;
  transform: scale(0.9);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.placeholder {
  position: absolute;
  left: 30%;
  top: 50%;
  transform: translateY(-50%);

  pointer-events: none;

  padding: 1vw;
  font-size: 1.2vw;

  margin: auto;
  color: gray;
}

.search_icon {
  height: 2vw;
  width: 2vw;

  position: absolute;
  left: 67%;
  top: 50%;
  transform: translateY(-50%);

  padding: 1vw;

  margin: auto;
}

footer {
  display: flex;
  position: absolute;
  bottom: 0vw;
  width: 100%;
}

.footer-text {
  text-align: start;
  font-size: 1vw;
  letter-spacing: 0.1vw;
  margin: 1.75vw;
}

.octocat {
  height: 4vw;
  width: 4vw;

  position: fixed;
  bottom: 0;
  right: 0;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.octocat:hover {
  scale: 1.2;
}
